{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ticket</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{% if ticket.dateTime %}{{ ticket.dateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ ticket.total }}</td>
            </tr>
            <tr>
                <th>Cash</th>
                <td>{{ ticket.cash }}</td>
            </tr>
            <tr>
                <th>Cheque</th>
                <td>{{ ticket.cheque }}</td>
            </tr>
            <tr>
                <th>Cb</th>
                <td>{{ ticket.cb }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tickets_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tickets_edit', { 'id': ticket.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
