{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des références</h1>

    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Désignation</th>
                <th>Gencode</th>
                <th>Rayon</th>
                <th>Description</th>
                <th>TVA Taux</th>
                <th>Prix de vente</th>
                <th>Prix d'achat</th>
                <th>En stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('items_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.nameItem }}</td>
                <td>{{ item.gencode }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.tva }}</td>
                <td>{{ item.sellPrice }}</td>
                <td>{{ item.buyPrice }}</td>
                <td>{{ item.itemQty }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('items_show', { 'id': item.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('items_edit', { 'id': item.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('items_new') }}">Créer un nouvel article</a>
        </li>
    </ul>
    <div class="col-md-offset-3 col-md-3">
        <p><br><br>
            <a href="{{ path('zecashdesk_default_page_responsable') }}" type="button"
               class="btn btn-warning btn-lg center-block">Retour au Menu principal</a>
            <br><br></p>
    </div>
{% endblock %}
