{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ item.nameItem }}</td>
            </tr>
            <tr>
                <th>Rayon</th>
                <td>{{ item.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>TVA Taux</th>
                <td>{{ item.tva }}</td>
            </tr>
            <tr>
                <th>Prix de vente</th>
                <td>{{ item.sellPrice }}</td>
            </tr>
            <tr>
                <th>Prix d'achat</th>
                <td>{{ item.buyPrice }}</td>
            </tr>
            <tr>
                <th>En stock</th>
                <td>{{ item.itemQty }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('items_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('items_edit', { 'id': item.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
