{% extends 'base.html.twig' %}

{% block body %}
<br>
<p class="label label-default center-block" style="font-size:  x-large">Liste des utilisateurs</p><br>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
    <table >
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Mot de passe</th>
                <th>Salt</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.salt }}</td>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<div class="col-md-offset-4 col-md-4">
    <ul>
        <li>
            <a href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
        </li>
    </ul>
    <p><br><br>
        <a href="{{ path('base') }}" type="button"
           class="btn btn-warning btn-lg center-block">Retour au Menu principal</a>
        <br><br></p>
</div>
{% endblock %}
