{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des mouvements de la caisse</h1>

    <table>
        <thead>
        <tr>
            <th>N° de caisse </th>
            <th>Date et heure </th>
            <th>Montant Espèces </th>
            <th>Montant Chèque(s) </th>
            <th>Montant CB </th>
            <th>Encaissement ou Prélèvement </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cash_desk in cash_desks %}
            <tr>
                <td><a href="{{ path('cash_desk_show', { 'id': cash_desk.id }) }}">{{ cash_desk.id }}</a></td>
                <td>{% if cash_desk.dateTime %}{{ cash_desk.dateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ cash_desk.cashMvt }}</td>
                <td>{{ cash_desk.chequeMvt }}</td>
                <td>{{ cash_desk.cbMvt }}</td>
                <td>{{ cash_desk.typeMvt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cash_desk_show', { 'id': cash_desk.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('cash_desk_edit', { 'id': cash_desk.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cash_desk_new') }}">Créer une nouvelle caisse</a>
        </li>
    </ul>
    <div class="col-md-offset-3 col-md-3">
        <p><br><br>
            <a href="{{ path('zecashdesk_default_page_hote') }}" type="button"
               class="btn btn-warning btn-lg center-block">Retour au Menu principal</a>
            <br><br></p>
    </div>
{% endblock %}
