{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des ventes</h1>

    <table>
        <thead>
            <tr>
                <th>N° </th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td><a href="{{ path('sales_show', { 'id': sale.id }) }}">{{ sale.id }}</a></td>
                <td>{{ sale.salesQty }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sales_show', { 'id': sale.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('sales_edit', { 'id': sale.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sales_new') }}">Créer une nouvelle vente</a>
        </li>
    </ul>
    <div class="col-md-offset-3 col-md-3">
        <p><br><br>
            <a href="{{ path('zecashdesk_default_page_responsable') }}" type="button"
               class="btn btn-warning btn-lg center-block">Retour au Menu principal</a>
            <br><br></p>
    </div>
{% endblock %}
