{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>Salesqty</th>
                <td>{{ sale.salesQty }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sales_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('sales_edit', { 'id': sale.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
